
nav a:hover {
    color: rgb(0, 0, 0);
}
 h1{
    color: rgb(0, 0, 0);
 }

header {
    background-color: rgb(255, 255, 255);
}

.container-principal {
padding: 16px;
max-width: 1200px;
margin: 0 auto;
}

.bloco-controle {
margin-bottom: 16px;
}

.grid-produtos {
display: grid;
grid-template-columns: 2fr;
gap: 16px;
}